@function gapMargin($size, $max, $min) {
	// @return $size > $max ? $max : $size;
	@if ($size > $max) {
		@return $max;
	} @else {
		@return $size;
	}
}

$with-grid: 1350px;
$with-grid-child: 1725px;
$gapProductMarginBlock: calc((100vw - #{$with-grid-child}) / 2);
$gapProductStart: calc((100vw - $with-grid) / 5);

// $gapProductEnd: gapMargin($gapProductStart, 45px, 10px);

.product {
	background:$color-header-background;
	border-radius: $border-radius $border-radius 0px 0px;
	padding: 80px 0 160px 0;

	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 120px;
		color: $color-acquered-liquorice;
		margin: 0 auto 40px auto;
		text-align: center;

	}

	&__list {
		max-width: 1725px;
		margin: 0 auto;
		// margin: 0 $gapProductMarginBlock;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-auto-flow: row;
		// grid-gap: 10px;
		// grid-gap: $gapProductEnd;
		grid-gap: 16px 16px;
		justify-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;

		text-align: center;
		align-items: center;
		align-content: center;

		@media (min-width: $with-grid) {
			grid-gap: 16px $gapProductStart;
		}
		@media (min-width: $with-grid-child) {
			max-width: 1725px;
			margin: 0 $gapProductMarginBlock;
			grid-gap: 22px 45px;
			grid-template-columns: repeat(5, 1fr);
		}
	}
	&__item {
		box-sizing: border-box;
		width: 250px;
		height: 581px;
		border: 2px solid $color-green;
		border-radius: 100px;

		// padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
    justify-content: center;

	}
	&__item_img {
		// display: list-item;
		// min-height: inherit;
		// min-height: -webkit-fill-available;
		// display: grid;
		// align-items: center;
    // justify-content: center;
		display: inline-block;
		vertical-align: middle;
	}
	&__item_p {
		max-width: 208px;
		min-height: 57px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		color: $color-acquered-liquorice;

		word-break: break-word;// указывает, что слова могут быть разбиты на части
		overflow-wrap: break-word; // позволяет переносить слова, если они не помещаются в заданную ширину элемента
		white-space: normal;//позволяет автоматический перенос текста, когда он не помещается на одну строку
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		// text-align: left;
		text-align: center;

		margin-top: 60px;
		margin-left: 10px;
		&:nth-child(5) {
			&:after {
				content: " (" attr(data-extra-content) ")";
				display: inline;
			}
		}
	}
	.product__item_img:nth-child(1) {
		width: 164.35px;
		height: 172.6px;
	}

	.product__item_img:nth-child(2) {
		width: 132.36px;
		height: 158.41px;
		transform: rotate(-52.64deg);
	}

	.product__item_img:nth-child(3) {
		width: 173.9px;
		height: 130px;
	}

	.product__item_img:nth-child(4) {
		width: 162.72px;
		height: 130px;
	}

	.product__item_img:nth-child(5) {
		width: 173.66px;
		height: 116.94px;

	}

	@media screen and (max-width: $width__phone_upper) {
		padding: 45px 0 50px 0;
		&__title {
			font-size: 24px;
			line-height: 30px;
		}
		&__list {
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
			font-size: 14px;
			line-height: 19px;
		}

		&__item {
			width: 290px;
			height: 92px;
			// transform: rotate(-90deg);
			overflow-x: hidden;

			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
		}
		&__item_img {
		}
		&__item_p {
			text-align: left;
			justify-self: start;
			margin-top: unset;
			font-size: 14px;
			line-height: 19px;
			max-width: 107px;
		}

		.product__item_img:nth-child(1) {
			width: 55.06px;
			height: 57.82px;
		}

		.product__item_img:nth-child(2) {
			width: 44.34px;
			height: 53.07px;
			transform: rotate(-52.64deg);
		}

		.product__item_img:nth-child(3) {
			width: 58.26px;
			height: 43.55px;
		}

		.product__item_img:nth-child(4) {
			width: 54.41px;
			height: 43.55px;
		}

		.product__item_img:nth-child(5) {
			width: 64.11px;
			height: 43.18px;
		}
	}
}
