@use "sass:math";
$color-header-background: #F7F7F7;
$primary-color: #243040;

$color-text-h1: #e2e2e2;
$color-footer-background-color: #f0f0f0;
$color-href-link: #393939;


$color-grey: #e6e8ee;
$color-wild-sand: #F5F5F5;
$color-acquered-liquorice: #374146;
$color-soft-blue: #648DE5;
$color-white: #ffffff;
$color-black: #000000;
$color-mercury: #E8E8E8;
$color-green: #6ad03c;
$color-grey: #A1A1A1;

// ==================wood color=====================
$color-cherry: #b68759;
$color-oak:#b68759;
$color-wenge:#83563e;
$color-wenge2:#8c5335;
$color-walnut:#654321;
$color-walnut2:#6e4318;
$color-dark-cherry: #45322e;
$color-wenge-oak: #48302b;

// ============== galary color ====================
$page-gallery-button: #D9D9D9;
$active-page-gallery-button: #0DB92C;


//- ===============  css from js ===============
$border-radius: var(--border-radius);
$viewport-width: var(--viewport-width);





//- =============== Defalt need css ===============
$debug: false; // при работе в состоянии разработки и при использовании конструкции if
// @if ($debug) { border: 1px dotted red;} // визуализация внутренних элементов разметки

$max-width-content: 95vw !default;// параметры по умолчанию
$title__font-size: 26px !default;

// ======================size of elements================

$header-desktop__max-height:150px;
$header-desktop__max-height_old: 300px;


$header-desktop__max-width: 1350px;
$header-mobile__max-height:117px;
$footer-max-height:261px;

$pad-top-el:30px;
$pad-bottom-el:20px;

$box-shadow: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.12));

// ================fonts===================
$font-size-standard: 16px;
$font-family: 'Inter', sans-serif;

// =============== size width or screen view===============
// нижний и верхний порог lower threshold upper threshold
$fix-element-width_old: 880px; ///old monitor

$width__pc_full:1920px;//PC hd
$width__pc_old: 1450px;//PC  old monitor
$width__pc:1280px;//PC.

$width__laptop_upper:1279px;
$width__laptop_lower:1024px;//Планшеты (альбомная ориентация)/Нетбуки;

$width__tablet_upper:1023px;
$width__tablet_lower:768px;//Планшеты (портретная ориентация);


$width__tablet__mini_upper:767px;
$width__tablet__mini_lower:600px;//Небольшие планшеты;

$width__phone_upper:599px;
$width__phone_lower:416px;//Мобильные устройства (альбомная ориентация);

$width__phone__small_upper:415px;
$width__phone__small_lower:320px; //Мобильные устройства (портретная ориентация);

$width__iPhone_13_Pro: 390px;
$width__iPhone_13_Pro_Max: 428px;
$width__iPhone_13_Mini: 360px;



// переносим пк
.mobile .white-normal_desktop{
  white-space: nowrap;
}
.white-normal_desktop{
	white-space: normal; // Переносить текст
}

//переносим текст в телефоне
.mobile .white-normal_mobile{
	white-space: normal; // Переносить текст
}
.white-normal_mobile{

  white-space: nowrap;
}

.left-align {
	text-align: left;
	justify-self: start;
}

.right-align {
	text-align: right;
	justify-self: end;
}