.product
	.product__title
		| О нашем продукте
	.product__list
		.product__item
			.product__item_img
				include ../../img/twoSticks.svg
			.product__item_p
				| Палочки
				| для еды
				| круглые
		.product__item
			.product__item_img
				include ../../img/line.svg
			.product__item_p
				| Размер:
				| длина
				| 220 х 4.5 мм
		.product__item
			.product__item_img
				include ../../img/fourColors.svg
			.product__item_p
				| Полноценная
				| печать
				| до 4 цветов
		.product__item
			.product__item_img
				include ../../img/sheets.svg
			.product__item_p
				| Экологичная
				| упаковка
				| (бумажная)
		.product__item
			.product__item_img
				include ../../img/packaging.svg
			.product__item_p
				| Фасовка
				| в коробках
				| (1000 по 100 шт.)
