.product
	.product__title
		| О нашем продукте
	.product__list
		.product__item
			.product__item_img
				include ../../img/twoSticks.svg
			.product__item_p
				| Палочки
				br
				| для еды
				| круглые
		.product__item
			.product__item_img
				include ../../img/line.svg
			.product__item_p
				| Размер:
				br
				| длина
				br
				| 220 х 4.5 мм
		.product__item
			.product__item_img
				include ../../img/fourColors.svg
			.product__item_p
				| Полноценная
				br
				| печать
				br
				| до 4 цветов
		.product__item
			.product__item_img
				include ../../img/sheets.svg
			.product__item_p
				| Экологичная
				br
				| упаковка
				br
				| (бумажная)
		.product__item
			.product__item_img
				include ../../img/packaging.svg
			.product__item_p
				| Фасовка
				br
				| в коробках
				br
				| (1000 по 100 шт.)
//- &nbsp
//- &#160
