include ../mixins/element.pug
footer.footer
	.footer-item.footer-info.left-align
		| © Костромская фабрика палочек 2016-#{ (new Date()).getFullYear() }
	+sociallinks('/#',data)(class='social')
	.footer-item.right-align
		| ИНН 440122483129 ОГРНИП 316440100064897
		br
		| ИП Ермолов Алексей Александрович
	.footer-item.left-align
		| * Отправляя форму, вы даете согласие на обработку своих персональных данных и &nbsp
		span.white-normal_mobile
			|соглашаетесь с&nbsp
		span.privacy-policy
			| политикой конфиденциальности
	.footer-item.right-align
		| Приведенная выше информация носит справочный характер и &nbsp
		span.white-normal_desktop
			| не является публичной офертой.
		br
		| Подробную информацию уточняйте в отделе продаж.
