footer.footer
	.footer-item.footer-info
		| © Костромская фабрика палочек 2016-#{ (new Date()).getFullYear() }
	.footer-item
		| ИНН 440122483129 ОГРНИП 316440100064897
	.footer-item
		| ИП Ермолов Алексей Александрович

	.footer-item
		| * Отправляя форму, вы даете согласие на обработку своих персональных данных и соглашаетесь с&nbsp
		span.privacy-policy
			|политикой конфиденциальности
	.footer-item
		| Приведенная выше информация носит справочный характер и не является публичной офертой.
	.footer-item
		| Подробную информацию уточняйте в отделе продаж.
