.gallery это галерея
	.CSSgal
		// Don't wrap targets in parent
		s#s1
		s#s2
		s#s3
		s#s4
		.slider
			div
				.gallery_img
			div
				.gallery_img
			div
				.gallery_img
			div
				.gallery_img
		.prevNext
			div
				a(href='#s4')
				a(href='#s2')
			div
				a(href='#s1')
				a(href='#s3')
			div
				a(href='#s2')
				a(href='#s4')
			div
				a(href='#s3')
				a(href='#s1')
		.bullets
			a(href='#s1')
			a(href='#s2')
			a(href='#s3')
			a(href='#s4')
