.main
	.main__title
		.main__title_text
			| Палочки для еды
			br
			| в брендированной
			br
			| эко-упаковк
			span.eco е

	.main__background
	.main__request
		//- input(type="text", name="Ваше имя*")
		//- input#phone.main__request_input(type='tel', placeholder='Ваш телефон*')
		.input-field
			input#nam.main__request_input(type='text', required='', spellcheck='false')
			label Ваше имя*
		.input-field
			input#phone.main__request_input(type='text', required='', spellcheck='false')
			label Ваш телефон*
		button#request.main__request_button(type='submit')
