mixin sociallinks
	.sociallinks
		.sociallinks_wrapper
			.sociallinks_item
				a(href='https://t.me/d9911', target='_blank')
					include ../../img/telegram.svg
			.sociallinks_item
				a(href='https://wa.me/79182475756', target='_blank')
					include ../../img/whatsApp.svg
mixin sociallinksOld
	.contact__sociallinks
		.contact__sociallinks_wrapper
			.contact__sociallinks_item
				a(href='https://t.me/d9911', target='_blank')
					include ../../img/telegram.svg
			.contact__sociallinks_item
				a(href='https://wa.me/79182475756', target='_blank')
					include ../../img/whatsApp.svg
