extends ../includes/base.pug

block meta
	meta(property='analytics-s-channel', content='homepage')

block title
	title
		| Палочки для еды в брендированной эко-упаковке
block links
	link(rel='stylesheet', href='css/index.min.css')
block styles

block content
	include ../partials/gallery

	.index Привет мир index
	include ../partials/main
